<h2><%= @recipe.title %></h2>
<%= link_to "Back", recipes_path %>
<p>
    <%= image_tag @recipe.image_url %>
    <%= recipe_description_html(@recipe.description) %>
<p>

<% if @recipe.chef_name.present? %>
    <p>
        <strong>Chef:</strong> <%= @recipe.chef_name %>
    <p>
<% end %>

<% if @recipe.tags.any? %>
    <p>
        <strong>Tags:</strong> <%= @recipe.tags.to_sentence %>
    <p>
<% end %>
